/* src/styles.css */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

body {    
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    height: 100%;
    background: linear-gradient(135deg, #f0f0f0, #ccc);
}

form, ul {
    margin: 20px;
}

input, button {
    margin: 5px;
}

p {
    margin: 5px 0;
}

.container {
    background: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-image: url('./images/pexels-danielabsi-952670.jpg');
    background-size: cover; 
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    margin: 0; 
}

h1 {
    text-align: center;
    color: greenyellow;
    font-weight: 700;
    font-size: 3em;
    margin-bottom: 20px;
}

h2 {
    text-align: center;
    color: green;
    font-weight: 700;
    font-size: 1.5em;
    margin-bottom: 10px;
}

p {
    color: rgb(221, 233, 235);
    font-size: 1.2em;
    line-height: 1.6;
}

button {
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 1em;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: green;
}

footer {
    border-top: 2px solid white;
    padding-top: 10px;
    background-color: green;
    color: white;
    text-align: center;
    padding: 1px;
    position: relative;
    bottom: 0;
    width: 100%;
    font-size: 0.8em;
}

@keyframes flash {
    0% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 1; }
}

.flashing {
    animation: flash 1s infinite;
}